.card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
}

.imageContainer {
  width: 100%;
  height: 220px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  padding: 1rem;
  text-align: flex-start;
}
.title {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: var(--koyu-mavi);
}
.price {
  font-size: 1.3rem;
  color: var(--koyu-mavi);
  font-weight: bold;
  margin: 0.5rem 0;
}
.portfolioNo {
  font-size: 0.8rem;
  color: var(--koyu-gri);
  opacity: 0.7;
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}
